<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <%= render 'layouts/error-messages' %>
        <h1>My Teams</h1>
        <table class="table table-borderless table-hover">
          <thead>
          <tr>
            <th scope="col">Team Names</th>
            <th scope="col">Created At</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <% @team.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.created_at.strftime("%d-%Y-%m") %></td>
              <td><%= button_to "Add Members",  new_team_member_path(f),method: :get, :class => "create-team-button"%></td>
              <td><%= button_to "Edit Team",  edit_team_path(f), method: :get, :class => "create-team-button"%></td>
              <td><%= button_to "Delete Team",  team_path(f), method: :delete, :class => "create-team-button"%></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>